<section class="mainmenu">
  <div class="room" role="presentation"></div>
  <div class="glow" role="presentation"></div>
  <div class="paper" role="presentation"></div>
  <h1 class="logo">Jia Liang, software engineer</h1>
  <div class="leaf-container" role="presentation">
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
  </div>
  <div class="dust" role="presentation"></div>
  <nav class="nav">
    <a class="button" href="#about" title="Go to About section">ABOUT</a
    ><a class="button" href="#work" title="Go to Work section">WORK</a>
    <br />
    <a class="thanks" href="#thanks" title="Go to Thanks & Attribution section"
      >Thanks & Attribution</a
    >
  </nav>
  <div class="intro-1" role="presentation"></div>
  <div class="intro-0" role="presentation">
    <span aria-hidden="true">LOADING...</span>
    <div class="inner"></div>
  </div>
</section>
