@import "sass-inline-svg.scss";

section.mainmenu {
  z-index: 1;
  overflow-y: hidden;
  background: black;

  .isolate {
    position: relative;
    width: calc(100% + 2px);
    height: 100%;
    margin-left: -2px;
    background: black;

    isolation: isolate;

    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: rgba(0, 0, 0, 0);
    }
  }

  .room {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inline-svg("bg") 0 0 / auto 100% no-repeat;
  }

  .glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: 0.2s flicker steps(1) infinite;
    background: inline-svg("glow") 0 0 / auto 100% no-repeat;
  }

  .paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: inline-svg("paper") 0 0 / auto 100% no-repeat;
  }

  // .leaf-container {
  //   .leaf {
  //     position: absolute;
  //     width: 5vmin;
  //     height: 5vmin;
  //     animation-play-state: paused;
  //     background: url("images/leaf.png") 50% 50%/100% 100% no-repeat;
  //   }

  //   &.play {
  //     .leaf {
  //       animation-play-state: running;
  //     }
  //   }
  // }

  .dust {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/asfalt-light.png") 0 0/150px 150px repeat;

    mix-blend-mode: exclusion;
  }

  .color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, transparent 67%, #2b4958);

    mix-blend-mode: exclusion;

    @media (max-aspect-ratio: 1/ 1) {
      display: none;
    }
  }

  .logo {
    font-size: 1vh;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 95vmin;
    height: 67%;
    margin: auto;
    white-space: nowrap;
    background: inline-svg("logo") 50% 50%/100% auto no-repeat;

    filter: drop-shadow(0 0 2px black);
  }

  .nav {
    font-size: 5vmin;
    position: absolute;
    z-index: 1;
    top: 57.5vh;
    left: 0;
    width: 100%;
    text-align: center;

    @media (max-aspect-ratio: 1 / 1) and (max-width: 700px) {
      font-size: 35px;
    }

    @media (max-aspect-ratio: 1 / 1) and (max-width: 540px) {
      font-size: 6.5vmin;
    }

    span {
      position: relative;
    }

    .button {
      margin: 1vh 1em;
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      &:hover,
      &:focus {
        border-bottom: 2px solid #e4e063;
      }
    }

    .thanks {
      font-size: 0.67em;
      display: inline-block;
      margin-top: 10vh;
      box-shadow: 0 4px 4px -4px black, 0 4px 4px -4px black;
      text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    }
  }
}
