@import "sass-inline-svg.scss";

section.mainmenu {
  z-index: 1;
  overflow-y: hidden;
  background: #22182b linear-gradient(black, rgba(0, 0, 0, 0), #140f18 55%);

  .room {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inline-svg("bg") 0 0 / auto 100% no-repeat;
  }

  .glow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: 0.2s flicker steps(1) infinite;
    background: inline-svg("glow") 0 0 / auto 100% no-repeat;
  }

  .paper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: inline-svg("paper") 0 0 / auto 100% no-repeat;
  }

  .leaf-container {
    .leaf {
      position: absolute;
      width: 5vmin;
      height: 5vmin;
      background: url("images/leaf.png") 50% 50%/100% 100% no-repeat;
    }

    &.pause {
      .leaf {
        visibility: hidden;
        animation-play-state: paused;
      }
    }
  }

  .dust {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    background: url("images/asfalt-light.png") 0 0/300px auto,
      url("images/asfalt-light.png") 0 0/300px auto;
  }

  .logo {
    font-size: 1vh;
    overflow: hidden;
    width: 95vmin;
    height: 67%;
    margin: auto;
    white-space: nowrap;
    background: inline-svg("logo") 50% 50%/100% auto no-repeat;
  }

  .nav {
    font-size: 4.5vmin;
    position: absolute;
    bottom: 10.5vh;
    left: 0;
    width: 100%;
    text-align: center;

    span {
      position: relative;
    }

    .button {
      margin: 1vh 1em;
    }

    .thanks {
      font-size: 0.67em;
      display: inline-block;
      margin-top: 10vh;
      box-shadow: 0 4px 4px -4px black, 0 4px 4px -4px black;
      text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    }
  }

  .intro-1,
  .intro-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .intro-0 {
    font-size: 5vh;
    font-weight: bold;
    line-height: 10vh;
    position: absolute;
    top: 45vh;
    right: 0;
    left: 0;
    width: 67%;
    height: 10vh;
    margin: auto;
    transform-origin: right;
    animation: 0.29s intro-0-shrink-x 0.5s both;
    text-align: center;
    color: white;
    border: 4px solid white;

    .inner {
      position: absolute;
      top: 1vh;
      left: 1vh;
      width: calc(100% - 2vh);
      height: calc(100% - 2vh);
      transform-origin: left;
      animation: 0.29s intro-0-inner-expand-x 0.2s linear both;
      text-align: center;
      color: white;
      background: white;
    }
  }

  .intro-1 {
    background: #d1a12e;
    animation: 0.3s fade-out 0.8s both ease-out;
  }

  @media (max-aspect-ratio: 1 / 1) {
    .room,
    .glow,
    .paper {
      background-attachment: fixed;
    }
  }

  @media (max-width: 600px), (max-height: 600px) {
    .nav {
      font-size: 27px;
    }
  }

  @media (max-width: 390px), (max-height: 390px) {
    .nav {
      font-size: 5.9vmin;
    }
  }
}

.js section.mainmenu {
  .intro-0 {
    animation-delay: 0s;
  }

  .intro-1 {
    animation-delay: 0s;
  }
}

.skip-intro section.mainmenu {
  .intro-0,
  .intro-1 {
    display: none;
  }
}
