<!-- prettier-ignore -->
<section id="!website" class="website article" tabindex="-1">
  <div class="scroll-container" tabindex="0">
  <div class="text-container">
    <%- md(`
# <span>My Personal</span><br aria-hidden="true" /><span>Website</span>

<small>*Written on 30 Nov 2020*</small>
<small>*Updated 21 Jan 2021*</small>

[Github repository](https://github.com/jialiang/jialiang.github.io-source-3)

---

## Intro

This is the 3rd iteration of my personal website as part of my yearly website refresh.
This time around, the design is inspired by:

- The opening of the 3rd arc of the Owarimonogatari tv series.
- The [opening of the 1st Persona 2 game](https://www.youtube.com/watch?v=N-KjFyhWQs8).
- The UI of the Persona 5 game.
- [The Cowardly Witch's website](https://yui540.graphics/).

## Tech Stack

[EJS](https://ejs.co/) & [Markdown](https://daringfireball.net/projects/markdown/) is used for layout & content.
[Sass](https://sass-lang.com/) is used for styling.

JavaScript libraries powered by [NodeJS](https://nodejs.org/en/) are used to compile source code & optimize assets.
[Gulp](https://gulpjs.com/) is used to manage the aforementioned build process.

## Performance

The entire website inclusive of all resources for my 1080p screen has a transfer size of only 247kB, of which:

Type       | Approx. Size
:---       | ---:
WEBP       | 132kB (53%)
SVG        | 45kB (18%)
WOFF       | 18kB (7%)
PNG        | 34kB (14%)
CSS        | 7kB (3%)
HTML       | 12kB (4%)
JS         | 600 Bytes

For comparison, the [Google homepage](https://jialiang.github.io/images/google-speed.jpg) trasfers a total of 458kB on the same device.

The size of the initial page load can be as low as 126kB with the implementation of lazy loading for images.

During rendering performance testing, the website is able to both play animations & scroll smoothly on a 2016 Asus Zenfone 3 & 2015 Macbook Pro.
The test is done in Firefox & Chrome for the former and Safari for the latter.

This website has a [Lighthose score of 100/100](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fjialiang.github.io%2F) in the Performance category.

## Compatibility

This website is compatible with:

- Firefox
- Chrome
- Edge
- Safari
- Internet Explorer 11

It also functions fine with JavaScript disabled. This website only contains JavaScript code to make it function better for keyboard-only users. For example,

- Ensuring focused links are in view and not blocked by fixed position elements.
- Ensuring the parent container is focused when navigating into a new section.
- Remembering the last focused link of a page so that users can continue where they left off when going back.

This website supports screens of:

- Size as small as [240 × 320](https://en.wikipedia.org/wiki/Graphics_display_resolution#320_%C3%97_240_(QVGA)). E.g. Nokia 8110
- Aspect-ratio as wide as [21:9](https://en.wikipedia.org/wiki/21:9_aspect_ratio#Smartphones) and beyond.
- Aspect-ratio as tall as [9:21](https://en.wikipedia.org/wiki/21:9_aspect_ratio#Smartphones). E.g. Sony Xperia 10

## Accessibility

This website has the following accessibility features:

- Keyboard-friendly.
- [NVDA screen reader](https://www.nvaccess.org/about-nvda/) friendly.
- Has text contrast ratio of 4.5:1 and above.
- [Atkinson Hyperlegible](https://www.brailleinstitute.org/freefont) font for low-vision readers.

This website has a [Lighthouse score of 100/100](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fjialiang.github.io%2F) in the Accessibility category.

## Privacy

This website does not collect any information about you at all.

Zip, zilch, nada. No trackers, no analytics.

---

<small>*Information presented here is true at the time of writing*</small>
    `) %>
  </div>
  </div>
</section>
