<!-- prettier-ignore -->
<section id="website" class="article" role="dialog" tabindex="0">
  <div class="text-container">
    <%- md(`
# <span>My Personal</span><br aria-hidden="true" /><span>Website</span>

<small>*Written on 30 Nov 2020*</small>

[Github repository](https://github.com/jialiang/jialiang.github.io-source-3)

---

## Intro

This is the 3rd iteration of my personal website as part of my yearly website refresh.
This time around, the design is inspired by:

- The opening of the 3rd arc of the Owarimonogatari tv series.
- The [opening of the 1st Persona 2 game](https://www.youtube.com/watch?v=N-KjFyhWQs8).
- The UI of the Persona 5 game.
- [The Cowardly Witch's website](https://yui540.graphics/).

## Tech Stack

[EJS](https://ejs.co/) & [Markdown](https://daringfireball.net/projects/markdown/) is used for layout & content.
[Sass](https://sass-lang.com/) is used for styling.

JavaScript libraries powered by [NodeJS](https://nodejs.org/en/) are used to compile source code & optimize assets.
[Gulp](https://gulpjs.com/) is used to manage the aforementioned build process.

## Performance

The entire website inclusive of all resources for my 1080p screen has a transfer size of only 223kB, of which:

Type   | Approx. Size
:---   | ---:
WEBP   | 70kB (31%)
SVG    | 84kB (38%)
WOFF2  | 32kB (15%)
PNG    | 22kB (10%)
CSS    | 8kB (3%)
HTML   | 7kB (3%)
JS     | 200 Bytes

For comparison, the [Google homepage](https://jialiang.github.io/images/google-speed.jpg) trasfers a total of 458kB on the same device.


During rendering performance testing, the website is able to both play animations & scroll smoothly on a 2016 Asus Zenfone 3 & 2015 Macbook Pro.
The test is done in Firefox & Chrome for the former and Safari for the latter.

This website has a [Lighthose score of 100/100](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fjialiang.github.io%2F) in the Performance category.

## Compatibility

This website is compatible with:

- Firefox
- Chrome
- Edge
- Safari
- Internet Explorer 11

It also functions fine with JavaScript disabled.
The only line of JavaScript used is just to make sure the opening animation doesn't play if the page loads with a valid hash fragment.

This website supports screens of:

- Size as small as [240 × 320](https://en.wikipedia.org/wiki/Graphics_display_resolution#320_%C3%97_240_(QVGA)).
- Aspect-ratio as wide as [21:9](https://en.wikipedia.org/wiki/21:9_aspect_ratio#Smartphones).
- Aspect-ratio as tall as [9:21](https://en.wikipedia.org/wiki/21:9_aspect_ratio#Smartphones).

## Accessibility

This website has the following accessibility features:

- Keyboard-friendly.
- [NVDA screen reader](https://www.nvaccess.org/about-nvda/) friendly.
- Has text contrast ratio of 4.5:1 and above.
- Support text zoom level up to 200%.
- [Atkinson Hyperlegible](https://www.brailleinstitute.org/freefont) font for low-vision readers.
- Valid HTML & CSS verified by the [W3C Markup Validation Service](https://validator.w3.org/nu/?doc=https%3A%2F%2Fjialiang.github.io%2F).

This website has a [Lighthouse score of 100/100](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fjialiang.github.io%2F) in the Accessibility category.

## Privacy

This website does not collect any information about you at all.

Zip, zilch, nada. No trackers, no analytics.

---

<small>*Information presented here is true at the time of writing*</small>
    `) %>
  </div>
</section>
