<div class="about-filter" role="presentation"></div>
<div class="about-decorations" role="presentation">
  <div class="pillar"></div>
  <div class="pillar"></div>
  <div class="flower-1"></div>
  <div class="flower-2"></div>
</div>
<div class="work-filter" role="presentation"></div>
<div class="work-decorations" role="presentation">
  <div class="fish-1"></div>
  <div class="fish-2"></div>
</div>
<div class="thanks-filter" role="presentation"></div>
<div class="darken" role="presentation"></div>
