section {
  visibility: hidden;
}

section.mainmenu {
  visibility: visible;

  .logo,
  .nav a {
    transition: 0.5s opacity;
    opacity: 1;
  }
}

.back {
  visibility: hidden;
}

.darken {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
}

section:target {
  visibility: visible;
  animation: 0.5s fade-in 0.5s both;

  ~ section.mainmenu {
    .glow,
    .leaf {
      animation-play-state: paused;
    }

    .leaf,
    .glow,
    .paper,
    .dust,
    .color {
      visibility: hidden;
    }

    .logo,
    .nav a {
      visibility: hidden;
      transition: none;
      opacity: 0;
    }
  }

  ~ .to-mainmenu {
    visibility: visible;
  }

  &.article {
    ~ .darken {
      transition: 0.3s opacity 0.1s;
      opacity: 1;
    }

    ~ .to-mainmenu {
      visibility: hidden;
    }

    ~ .to-work {
      visibility: visible;
    }

    .text-container {
      p {
        margin: 1.75em 0;
      }
    }
  }
}
