@import "sass-inline-svg.scss";

.work-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale3d(0, 0, 0);
  pointer-events: none;
  background: radial-gradient(#0980ff, #88e7d5, #6161b5);

  mix-blend-mode: hard-light;
  will-change: transform;

  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: radial-gradient(
      rgba(10, 130, 255, 0.35),
      #00ffcf,
      rgba(0, 0, 250, 0.35)
    );
  }
}

.work-decorations {
  z-index: 1;
  overflow: hidden;
  pointer-events: none;

  .fish-1,
  .fish-2 {
    position: absolute;
    width: 350px;
    height: 350px;
    transform: scale3d(0, 0, 1);
    transform-origin: bottom left;
    background: inline-svg("fish") 0 0 / auto 100% no-repeat;
  }

  .fish-1 {
    bottom: 0;
    left: 0;
  }

  .fish-2 {
    right: 0;
    bottom: 350px;
    transform: rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);

    @media (max-width: 750px) {
      display: none;
    }
  }
}

#work:target {
  ~ .mainmenu .work-filter {
    transition: 0.29s transform;
    transform: scale3d(1, 1, 1);
  }

  ~ .work-decorations {
    .fish-1 {
      transition: 0.24s transform 0.15s;
      transform: scale3d(1, 1, 1);
    }

    .fish-2 {
      transition: 0.24s transform 0.4s;
      transform: rotate3d(0, 0, 1, 90deg) scale3d(1, 1, 1);
    }
  }
}
