<!-- prettier-ignore -->
<section id="construction" class="article" role="dialog" tabindex="0">
  <div class="text-container">
    <%- md(`
# <span>WIP</span>

Article is under construction. Check back later.

Project Demo Links:

- [Pieretta in WebGL](https://jialiang.github.io/pieretta/)
- [Space Gems](https://jialiang.github.io/space-gems/)
    `) %>
  </div>
</section>
