#about {
  background: url("images/asfalt-light.png") 0 0/150px 150px repeat;

  .text-container {
    max-width: 21em;
  }

  .avatar {
    display: block;
    width: 7em;
    max-width: 100%;
    margin: 1.5em 0;
    border: 2px solid black;
    border-radius: 100%;
    background: white;
  }
}
