<!-- prettier-ignore -->
<section id="thanks" role="dialog" tabindex="0">
  <div class="text-container">
    <%- md(`
# <span>Thank You</span><span class="star"></span>

- Derivative of [Abstract Background Flower](https://pixabay.com/vectors/abstract-background-flower-design-1262341/) by Garik Barseghyan used under [Pixabay License](https://pixabay.com/service/license/).
- Derivative of [Pattern Fish Carp](https://pixabay.com/illustrations/pattern-fish-carp-koi-koi-carp-3296033/) by Anna Kulikova used under [Pixabay License](https://pixabay.com/service/license/).
- [Star Yellow Christmas](https://pixabay.com/vectors/star-yellow-christmas-star-158502/) by OpenClipart used under [Pixabay License](https://pixabay.com/service/license/).
- [Atkinson Hyperlegible](https://www.brailleinstitute.org/freefont) by Braille Institute used with permission.
- Thanks to [Github](https://pages.github.com/) for hosting this website.
    `) %>
    <br />
  </div>
</section>
