<!-- prettier-ignore -->
<section id="!matrix" class="matrix article" tabindex="-1">
  <div class="scroll-container" tabindex="0">
  <div class="text-container">
    <%- md(`
# <span>Pure CSS</span><br aria-hidden="true" /><span>Digital Rain</span>

<small>*Written on 30 Nov 2020*</small>

[Github repository](https://github.com/jialiang/matrix-digital-rain/)
[Link to Demo](https://jialiang.github.io/matrix-digital-rain)

⚠️ High CPU/GPU usage in demo.

---

## Background

The "[Matrix Digital Rain](https://en.wikipedia.org/wiki/Matrix_digital_rain)" refers to the iconic falling green code sequence featured in the opening of the Matrix series.

Here is a video clip from one of the movies showing the Matrix Digital Rain: [Download MKV File](https://rawcdn.githack.com/jialiang/huge-assets/5c89a3e05a61a01794c8072ef89592ad7bb11214/matrix/intro.mkv) (4.8MB).

## Motivation

Lots of people already attempted to reproduce the Matrix Digital Rain in code, but I found their results to be noticably different to the real thing and unsatisfying. So I decided to take a stab at it to see what the challenges are.

## Observations

Looking at the video clip above, here are some of my observations:

- The code is katakana, numbers and some symbols inverted on the Y axis.
- The code doesn't actually move but is continuously appended at the bottom.<br /><br />
- At the top of the trail, the code fades out.
- There seem to be some sort of motion blur on the code fading out.<br /><br />
- The glow is not constant but pulsates.
- The glow is independent of the characters. It travels smoothly down as new characters appear.
- The light of the glow bleeds into nearby code.<br /><br />
- There can be more than 1 stream of code per column.
- Each frame, some of the characters change but most remain the same.

## Conclusion

After spending a lazy weekend fiddling around, I made some mistakes in my approach that makes creating a convincing replica impossible. So I had to improvise to at least make it look nice.

I think the difficult part is perfecting the glow. It needs to move smoothly down the characters like someone shining a light across the code. I would think something like this setup would be needed:

3 layers: 1 layer of text as the base, 1 layer as the lightsource and 1 layer as the mask to make the lightsource conforms to the shape of the text. I think something like this approach involving mix-blend-mode would work: [https://codepen.io/giana/pen/qmKNeE](https://codepen.io/giana/pen/qmKNeE).

Anyway, I'm thinking of giving this another go in the future.

---

<small>*Information presented here is true at the time of writing*</small>
    `) %>
  </div>
  </div>
</section>
