<section id="work" role="dialog" tabindex="0">
  <div class="text-container">
    <h1>
      <span>Work</span>
    </h1>
    <br />
    <br />
    <p>Some of my <span class="no-break">personal projects:</span></p>
    <br />
    <a href="#website">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-1-360.webp 360w,
              images/project-1-520.webp 520w,
              images/project-1-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-1-780.jpg"
            alt="Screenshot of this website"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">The Making of...This Website</div>
          <div class="action" aria-hidden="true">Read</div>
        </figcaption>
      </figure>
    </a>
    <a href="#shit">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-5-360.webp 360w,
              images/project-5-520.webp 520w,
              images/project-5-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-5-780.jpg"
            alt="Shit Compressor cover image"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">Shit Compressor</div>
          <div class="action" aria-hidden="true">Read</div>
        </figcaption>
      </figure>
    </a>
    <a href="#gems">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-3-360.webp 360w,
              images/project-3-520.webp 520w,
              images/project-3-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-3-780.jpg"
            alt="Space Gems cover image"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">Space Gems</div>
          <div class="action" aria-hidden="true">Read</div>
        </figcaption>
      </figure>
    </a>
    <a href="https://jialiang.github.io/ygo/" target="_blank">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-6-360.webp 360w,
              images/project-6-520.webp 520w,
              images/project-6-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-6-780.jpg"
            alt="Yu-Gi-Oh OCG Secret Rare Effect with CSS cover image"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">Yu-Gi-Oh OCG Secret Rare Effect with CSS</div>
          <div class="action" aria-hidden="true">See & Read</div>
        </figcaption>
      </figure>
    </a>
    <a href="#matrix">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-4-360.webp 360w,
              images/project-4-520.webp 520w,
              images/project-4-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-4-780.jpg"
            alt="Screenshot of Pure CSS Matrix Digital Rain project"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">Pure CSS Digital Rain</div>
          <div class="action" aria-hidden="true">Read</div>
        </figcaption>
      </figure>
    </a>
    <a href="#construction">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 507 285"
          width="507"
          height="285"
        ></svg>
        <picture>
          <source
            type="image/webp"
            srcset="
              images/project-2-360.webp 360w,
              images/project-2-520.webp 520w,
              images/project-2-780.webp 780w
            "
            sizes="(max-width: 25.5em) calc(100vw - 2em), 23.5em"
          />
          <img
            src="images/project-2-780.jpg"
            alt="Pieretta in WebGL project cover image"
            loading="lazy"
          />
        </picture>
        <figcaption>
          <div class="title">Pieretta in WebGL</div>
          <div class="action" aria-hidden="true">Read</div>
        </figcaption>
      </figure>
    </a>
    <p class="white no-break">Stay tuned.</p>
    <br />
    <p><span class="no-break">More stuff might</span> be added soon.</p>
  </div>
</section>
