#work {
  background: url("images/asfalt-light.png") 0 0/150px 150px repeat;

  .text-container {
    p {
      box-shadow: 0.25em 0.25em 0 cyan;

      @media (max-width: 25em) {
        width: min-content;
      }
    }
  }
}
